<footer>
<div class="footer-item">
  <h4>Buying</h4>
  <a href="">Buying at Equippo</a>

</div>
<div class="footer-item">
  <h4>Selling</h4>
  <a href="">Selling with Equippo</a>

</div>
<div class="footer-item">
  <h4> Legals </h4>
  <a href="">Impressum</a>
  <a href="">Privacy & Data Policy</a>
  <a href="">Website Terms & Conditions</a>
  <a href="">Buyer Terms & Conditions</a>
  <a href="">Listing Terms & Conditions </a>
</div>
<div class="footer-item">
  <h4> About us </h4>
  <a href="">About us</a>
  <a href="">Sustainability impact</a>
  <a href="">Contact Us</a>
  <a href="">Client Testimonials</a>

</div>
<div class="scoial-meadia-links">
  <p>© 2022 rent hub AG All rights reserved </p>
  <div class="scoial-meadia-icons">
    <a href=""><i class="fab fa-facebook-f"></i>
    </a>
    <a href=""><i class="fab fa-instagram"></i>
    </a>
    <a href=""><i class="fab fa-linkedin-in"></i>
    </a>
    <a href=""><i class="fab fa-twitter"></i>
    </a>
  </div>
</div>
</footer>
