<section class="hero">
  <h1>The easiest way to rent construction equipment</h1>
  <div class="btn-container">
    <a href="" class="browse-btn" [routerLink]="'../allitems'">Browse all machines</a>
    <a href="" class="hero-rent-btn" [routerLink]="'../additems'">Rent with rent hub</a>
  </div>
</section>
<section class="how-it-works">
  <div class="btn-container">

    <button class="lessor-btn">for lessor</button>
    <button class="lesse-btn">for lessee</button>
  </div>
  <div class="lessor-features-container">

    <div class="lessor-features-item">
      <mat-icon class="icon" aria-hidden="false" aria-label="Example check_circle icon" fontIcon="check_circle">check_circle</mat-icon>
      <h4>Fully inspected machines</h4>
      <P>Only inspected units with detailed pictures, videos and functional tests.</P>

    </div>
    <div class="lessor-features-item">

      <mat-icon class="icon" aria-hidden="false" aria-label="Example check_circle icon" fontIcon="check_circle">check_circle</mat-icon>
      <h4>Fully inspected machines</h4>
      <P>Only inspected units with detailed pictures, videos and functional tests.</P>

    </div>
    <div class="lessor-features-item">
      <mat-icon class="icon" aria-hidden="false" aria-label="Example check_circle icon" fontIcon="check_circle">check_circle</mat-icon>
      <h4>Fully inspected machines</h4>
      <P>Only inspected units with detailed pictures, videos and functional tests.</P>


    </div>



  </div>

  <a href="" class="how-to-rentend"> How to rent ›</a>

</section>
<section class=" experience">
  <h2 class="experience-title">The Equippo Experience</h2>
  <p class="experience-text">We believe that buying and selling used construction machines should be simple and safe.
  </p>
  <div class="experience-container">
    <div class="experience-item">

      <p><mat-icon class="e-icon" aria-hidden="false" aria-label="Example payments icon" fontIcon="payments">payments</mat-icon>Full money-back guarantee</p>
      <mat-icon class="e-arrow-f" aria-hidden="false" aria-label="Example arrow_forward icon" fontIcon="arrow_forward">arrow_forward</mat-icon>
    </div>
    <div class="experience-item">

      <p><mat-icon class="e-icon" aria-hidden="false" aria-label="Example payments icon" fontIcon="payments">payments</mat-icon>Full money-back guarantee</p>
      <mat-icon class="e-arrow-f" aria-hidden="false" aria-label="Example arrow_forward icon" fontIcon="arrow_forward">arrow_forward</mat-icon>
    </div>
    <div class="experience-item">

      <p><mat-icon class="e-icon" aria-hidden="false" aria-label="Example payments icon" fontIcon="payments">payments</mat-icon>Full money-back guarantee</p>
      <mat-icon class="e-arrow-f" aria-hidden="false" aria-label="Example arrow_forward icon" fontIcon="arrow_forward">arrow_forward</mat-icon>
    </div>
  </div>

</section>
